
$md-principal: (
    50 : #fff0f2,
    100 : #ffd1e0,
    200 : #ffb3c8,
    300 : #ff94b1,
    400 : #ff7da0,
    500 : #ff668e,
    600 : #ff5e84,
    700 : #ff5378,
    800 : #ff496e,
    900 : #ff3863,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe1f1,
    A700 : #ffc8e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


