
$md-principal: (
    50 : #edfff0,
    100 : #d1ffda,
    200 : #b3ffc2,
    300 : #94ffaa,
    400 : #7dff97,
    500 : #66ff85,
    600 : #5eff7d,
    700 : #53ff72,
    800 : #49ff68,
    900 : #38ff55,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e1ffe5,
    A700 : #c8ffcf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

